.linkContainer {
    cursor: pointer;
    border: 1px solid transparent;
}

.link {
    color: #7485A5;
    font-weight: 700;
}

.active {
    color: #06205B;
}

.linkContainer:hover, .linkActive {
    color: #06205B;
    transition: color 100ms ease-out;
    background: #F7F9FD;
    border: 1px solid #D1E0FF;
}
